@font-face {
  font-family: 'Big Calson';
  src: url('../fonts/Big Caslon Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
#airestech {
  background-color: #2db2fa;
}
#codered {
  background-color: #0a0a0a;
}
#onetrinity {
  background-color: #b3866f;
}
#arthair {
  background-color: #3F94AC;
}
#rubitron {
  background-color: #4c8e2d;
}
#belarosso {
  background-image: url(../img/Group1.png);
  background-color: #BE4A4A;
}
#poisk24 {
  background-color: #ff9419;
}
#hitsvit {
  background-image: url(../img/Group2.png);
  background-color: #3258AD;
}
#noarmy {
  background-image: url(../img/Group4.png);
  background-color: #DD4F4F;
}
#stroymaster {
  background-image: url(../img/Group3.png);
  background-color: #EDC23F;
}
.page-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-size: 6vw;
  text-decoration: none;
  text-transform: capitalize;
}
.page-section.sticky {
  position: fixed;
  top:0;
  left:0;
}